apiVersion: apps/v1
kind: Deployment
metadata:
  name: scaleway-proxy
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    spec:
      containers:
        - name: scaleway-proxy
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          env:
            - name: RUST_LOG
              value: "info"
          livenessProbe:
            initialDelaySeconds: 60
            periodSeconds: 15
          readinessProbe:
            initialDelaySeconds: 45
            periodSeconds: 10
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: curl-demo
  namespace: client-a-demo
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: curl
          env:
            - name: HTTP_PROXY
              value: http://$(PROXY_ADDRESS):$(PROXY_PORT)
            - name: HTTPS_PROXY
              value: http://$(PROXY_ADDRESS):$(PROXY_PORT)
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
