apiVersion: apps/v1
kind: Deployment
metadata:
  name: scaleway-proxy
  namespace: scaleway-proxy
  labels:
    app: scaleway-proxy
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    spec:
      containers:
        - name: scaleway-proxy
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          env:
            - name: RUST_LOG
              value: "info"
          livenessProbe:
            initialDelaySeconds: 60
            periodSeconds: 15
          readinessProbe:
            initialDelaySeconds: 45
            periodSeconds: 10
