apiVersion: apps/v1
kind: Deployment
metadata:
  name: scaleway-proxy
  namespace: scaleway-proxy
  labels:
    app: scaleway-proxy
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - name: scaleway-proxy
          env:
            - name: RUST_LOG
              value: "debug"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
